<html>  
<head>
    <title>CW1 Webmaster's site</title>
</head>
<body>
    <p>Welcome!<br /></p>
    <a href="/login">Officer Login<br /></a>
    <p>-------------Treasurer API section-------------</p>
    <p>The current class balance is: {{ balance }}$</p>
    <a href="/treasurerlogs">Audit Treasurer Logs<br /></a>
    <a href="/createrequest">Create Requests (officer only)<br /></a>
    <a href="/requestmanager">Manage Requests (treasurer only)<br /></a>
    <p>-----------------------------------------------------</p>
</body>
</html>